<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>wx</string>
		<key>title</key>
		<string>微笑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pz</string>
		<key>title</key>
		<string>撇嘴</string>
	</dict>
	<dict>
		<key>code</key>
		<string>se</string>
		<key>title</key>
		<string>色</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fd</string>
		<key>title</key>
		<string>发呆</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dy</string>
		<key>title</key>
		<string>得意</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ll</string>
		<key>title</key>
		<string>流泪</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hx</string>
		<key>title</key>
		<string>害羞</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bz</string>
		<key>title</key>
		<string>闭嘴</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shui</string>
		<key>title</key>
		<string>睡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dk</string>
		<key>title</key>
		<string>大哭</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gg</string>
		<key>title</key>
		<string>尴尬</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fn</string>
		<key>title</key>
		<string>发怒</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tp</string>
		<key>title</key>
		<string>调皮</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cy</string>
		<key>title</key>
		<string>呲牙</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jy</string>
		<key>title</key>
		<string>惊讶</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ng</string>
		<key>title</key>
		<string>难过</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kuk</string>
		<key>title</key>
		<string>酷</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lengh</string>
		<key>title</key>
		<string>冷汗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zk</string>
		<key>title</key>
		<string>抓狂</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tuu</string>
		<key>title</key>
		<string>吐</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tx</string>
		<key>title</key>
		<string>偷笑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ka</string>
		<key>title</key>
		<string>可爱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>baiy</string>
		<key>title</key>
		<string>白眼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>am</string>
		<key>title</key>
		<string>傲慢</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jie</string>
		<key>title</key>
		<string>饥饿</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kun</string>
		<key>title</key>
		<string>困</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jk</string>
		<key>title</key>
		<string>惊恐</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lh</string>
		<key>title</key>
		<string>流汗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hanx</string>
		<key>title</key>
		<string>憨笑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>db</string>
		<key>title</key>
		<string>大兵</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fendou</string>
		<key>title</key>
		<string>奋斗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhm</string>
		<key>title</key>
		<string>咒骂</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yiw</string>
		<key>title</key>
		<string>疑问</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xu</string>
		<key>title</key>
		<string>嘘</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yun</string>
		<key>title</key>
		<string>晕</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhem</string>
		<key>title</key>
		<string>折磨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shuai</string>
		<key>title</key>
		<string>衰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kl</string>
		<key>title</key>
		<string>骷髅</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qiao</string>
		<key>title</key>
		<string>敲打</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zj</string>
		<key>title</key>
		<string>再见</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ch</string>
		<key>title</key>
		<string>擦汗</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kb</string>
		<key>title</key>
		<string>抠鼻</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gz</string>
		<key>title</key>
		<string>鼓掌</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qd</string>
		<key>title</key>
		<string>糗大了</string>
	</dict>
	<dict>
		<key>code</key>
		<string>huaix</string>
		<key>title</key>
		<string>坏笑</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhh</string>
		<key>title</key>
		<string>左哼哼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yhh</string>
		<key>title</key>
		<string>右哼哼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hq</string>
		<key>title</key>
		<string>哈欠</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bs</string>
		<key>title</key>
		<string>鄙视</string>
	</dict>
	<dict>
		<key>code</key>
		<string>wq</string>
		<key>title</key>
		<string>委屈</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kk</string>
		<key>title</key>
		<string>快哭了</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yx</string>
		<key>title</key>
		<string>阴险</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qq</string>
		<key>title</key>
		<string>亲亲</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xia</string>
		<key>title</key>
		<string>吓</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kel</string>
		<key>title</key>
		<string>可怜</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cd</string>
		<key>title</key>
		<string>菜刀</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xig</string>
		<key>title</key>
		<string>西瓜</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pj</string>
		<key>title</key>
		<string>啤酒</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lq</string>
		<key>title</key>
		<string>篮球</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pp</string>
		<key>title</key>
		<string>乒乓</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kf</string>
		<key>title</key>
		<string>咖啡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fan</string>
		<key>title</key>
		<string>饭</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zt</string>
		<key>title</key>
		<string>猪头</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mg</string>
		<key>title</key>
		<string>玫瑰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dx</string>
		<key>title</key>
		<string>凋谢</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sa</string>
		<key>title</key>
		<string>示爱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xin</string>
		<key>title</key>
		<string>爱心</string>
	</dict>
	<dict>
		<key>code</key>
		<string>xs</string>
		<key>title</key>
		<string>心碎</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dg</string>
		<key>title</key>
		<string>蛋糕</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shd</string>
		<key>title</key>
		<string>闪电</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zhd</string>
		<key>title</key>
		<string>炸弹</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dao</string>
		<key>title</key>
		<string>刀</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zq</string>
		<key>title</key>
		<string>足球</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pch</string>
		<key>title</key>
		<string>瓢虫</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bb</string>
		<key>title</key>
		<string>便便</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yl</string>
		<key>title</key>
		<string>月亮</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ty</string>
		<key>title</key>
		<string>太阳</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lw</string>
		<key>title</key>
		<string>礼物</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yb</string>
		<key>title</key>
		<string>拥抱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qiang</string>
		<key>title</key>
		<string>强</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ruo</string>
		<key>title</key>
		<string>弱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ws</string>
		<key>title</key>
		<string>握手</string>
	</dict>
	<dict>
		<key>code</key>
		<string>shl</string>
		<key>title</key>
		<string>胜利</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bq</string>
		<key>title</key>
		<string>抱拳</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gy</string>
		<key>title</key>
		<string>勾引</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qt</string>
		<key>title</key>
		<string>拳头</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cj</string>
		<key>title</key>
		<string>差劲</string>
	</dict>
	<dict>
		<key>code</key>
		<string>aini</string>
		<key>title</key>
		<string>爱你</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bu</string>
		<key>title</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hd</string>
		<key>title</key>
		<string>OK</string>
	</dict>
</array>
</plist>
