<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>channel</key>
			<string>焦点图 </string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>bigbanner1</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/1.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>bigbanner2</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/2.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>bigbanner3</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/1.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>bigbanner4</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/2.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>bigbanner5</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/1.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>bigbanner6</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/2.jpg</string>
				</dict>
			</array>
			<key>key</key>
			<string>focus</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>导航</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>direct</string>
					<key>description</key>
					<string>厂家直销</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-cjzx.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>franchise</string>
					<key>description</key>
					<string>特许经营</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-txjy.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>individual</string>
					<key>description</key>
					<string>个体自产</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-gtsc.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>match</string>
					<key>description</key>
					<string>搭配购</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-dpg.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>supermarket</string>
					<key>description</key>
					<string>超市</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-cs.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>baby</string>
					<key>description</key>
					<string>女婴馆</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-nyg.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>ea</string>
					<key>description</key>
					<string>电器城</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-dqc.gif</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>coupons</string>
					<key>description</key>
					<string>优惠券</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/m-yhq.gif</string>
				</dict>
			</array>
			<key>key</key>
			<string>nav</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>店铺故事</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>story</string>
					<key>id</key>
					<string>1</string>
					<key>title</key>
					<string>我的店铺故事</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>story</string>
					<key>id</key>
					<string>4</string>
					<key>title</key>
					<string>我的测试</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>story</string>
					<key>id</key>
					<string>6</string>
					<key>title</key>
					<string>ceshi</string>
				</dict>
			</array>
			<key>key</key>
			<string>story</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>捞便宜</string>
			<key>color</key>
			<string>#fe7335</string>
			<key>img</key>
			<string>http://s0.zjlao.com/app_img/lao.png</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>10</string>
					<key>end_time</key>
					<string>2016-05-13</string>
					<key>full_price</key>
					<string>100</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-05-07</string>
					<key>title</key>
					<string>我的优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>100</string>
					<key>end_time</key>
					<string>2016-05-13</string>
					<key>full_price</key>
					<string>10</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-05-05</string>
					<key>title</key>
					<string>我的优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>12</string>
					<key>end_time</key>
					<string>2016-05-06</string>
					<key>full_price</key>
					<string>10</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-05-03</string>
					<key>title</key>
					<string>测试优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>12</string>
					<key>end_time</key>
					<string>2016-05-06</string>
					<key>full_price</key>
					<string>100</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-05-01</string>
					<key>title</key>
					<string>测试优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>12</string>
					<key>end_time</key>
					<string>2016-05-06</string>
					<key>full_price</key>
					<string>10</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-05-01</string>
					<key>title</key>
					<string>测试优惠券</string>
					<key>type</key>
					<string>6</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>12</string>
					<key>end_time</key>
					<string>2016-03-31</string>
					<key>full_price</key>
					<string>10</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-04-28</string>
					<key>title</key>
					<string>测试优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>12</string>
					<key>end_time</key>
					<string>2016-05-01</string>
					<key>full_price</key>
					<string>100</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-04-27</string>
					<key>title</key>
					<string>测试优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>lao</string>
					<key>discount_price</key>
					<string>12</string>
					<key>end_time</key>
					<string>2016-04-29</string>
					<key>full_price</key>
					<string>10</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/coupon_line@2x.png</string>
					<key>start_time</key>
					<string>2016-04-27</string>
					<key>title</key>
					<string>测试优惠券</string>
					<key>type</key>
					<string>2</string>
				</dict>
			</array>
			<key>key</key>
			<string>lao</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>大家都在买</string>
			<key>color</key>
			<string>#ffae00</string>
			<key>img</key>
			<string>http://s0.zjlao.com/app_img/allbuy.png</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;152.80淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>23</string>
					<key>img</key>
					<string>201602/caohenghui/tb1qvqykpxxxxbzxpxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>15280</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>今年的新货无硫甜百合干，在甘肃兰州的黄土高原上生长的，是地理性标志产物，味道甘甜，润肺功效十分好，因此特别受欢迎。</string>
					<key>id</key>
					<string>24</string>
					<key>img</key>
					<string>201602/caohenghui/tb193cbkxxxxxauxxxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>4280</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;22.00淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>25</string>
					<key>img</key>
					<string>201602/caohenghui/t1mklrfqvnxxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>22</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;9.80淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>27</string>
					<key>img</key>
					<string>201602/caohenghui/tb10g8hgxxxxxbdxxxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>10</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;3.99淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>28</string>
					<key>img</key>
					<string>201602/caohenghui/t1k18tfp4exxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>4</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;10.00淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>29</string>
					<key>img</key>
					<string>201602/caohenghui/t1rl5ffalexxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>10</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;3.99淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>30</string>
					<key>img</key>
					<string>201602/caohenghui/t1ys4rfd0nxxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>4</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goods</string>
					<key>full_name</key>
					<string>价格&amp;yen;13.60淘宝价销量-累计评论-交易成功以上价格可在付款时选择享用数量&amp;#411;&amp;#410;件(库存2件)请勾选您要的商品信息</string>
					<key>id</key>
					<string>31</string>
					<key>img</key>
					<string>201602/caohenghui/tb178k9ixxxxxbxxxxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>price</key>
					<string>13</string>
				</dict>
			</array>
			<key>key</key>
			<string>allbuy</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>包邮</string>
			<key>color</key>
			<string>#08cb7f</string>
			<key>img</key>
			<string>http://s0.zjlao.com/app_img/post.png</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>post</string>
					<key>full_name</key>
					<string>2015新货桂圆干正式开售了，由于今年产地产量低，价格比之前高了很多，8月10日起新货6A特级桂圆干8.8元200g，不管行情多高，我们仍然坚持卖最好最正宗的桂圆干，绝不卖陈货桂圆，绝不卖催生果，欢迎各位新老朋友继续购买！</string>
					<key>img</key>
					<string>201602/caohenghui/tb1klbljfxxxxxoxfxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>market_price</key>
					<string>23.00</string>
					<key>shop_price</key>
					<string>22.00</string>
					<key>short_name</key>
					<string>2015新货特级6A泸州桂圆肉厚核小龙眼干非莆田桂圆干200g</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>post</string>
					<key>full_name</key>
					<string>2015新鲜古法压榨红糖，纯甘蔗手工压制，古色古香，小块包装，方便存取！【温馨提示】夏季温度太高，由于我们的红糖没有任何添加，遇高温容易融化，大家拿回去之后请放冰箱保存~</string>
					<key>img</key>
					<string>201602/caohenghui/tb1t6svjvxxxxx_xpxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>market_price</key>
					<string>24.70</string>
					<key>shop_price</key>
					<string>24.00</string>
					<key>short_name</key>
					<string>农家古法纯甘蔗老红糖痛经暖宫酵素土黑糖块产妇补血月子红糖500g</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>post</string>
					<key>full_name</key>
					<string>【买2份银耳送老冰糖200g】这款银耳是福建古田特级银耳，保证无硫熏，易煮即糯，经过质量检测，达出口级别标准。200g有大约5-6朵，一般一家三口半朵就够吃一次了，是非常经济实惠又美味的滋补品。</string>
					<key>img</key>
					<string>201602/caohenghui/tb1hifmlpxxxxayxfxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>market_price</key>
					<string>57.80</string>
					<key>shop_price</key>
					<string>57.00</string>
					<key>short_name</key>
					<string>【出口级】农家特级银耳雪耳糯耳无硫古田银耳白木耳干货银耳200g</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>post</string>
					<key>full_name</key>
					<string>云南古法熬制的黑糖，28g左右一小块，味道不会太甜，一小块泡一杯水，女士大姨妈来的时候特别适合喝这款糖水，有暖宫和环节痛经的左右，另外这款黑糖是纯手工熬制的，营养好，富含铁元素，女性一天一杯对身体好！</string>
					<key>img</key>
					<string>201602/caohenghui/tb1htakkpxxxxb4xvxxxxxxxxxx_!!0-item_pic.jpg</string>
					<key>market_price</key>
					<string>42.00</string>
					<key>shop_price</key>
					<string>42.00</string>
					<key>short_name</key>
					<string>云南甘蔗手工古法老红糖块痛经暖宫月子补血土红糖元宝黑糖500g</string>
				</dict>
			</array>
			<key>key</key>
			<string>post</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>广告图</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>smallbanner</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/15.jpg</string>
				</dict>
			</array>
			<key>key</key>
			<string>singleads</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>精品好店</string>
			<key>color</key>
			<string>#a543f0</string>
			<key>img</key>
			<string>http://s0.zjlao.com/app_img/goodshop.png</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>topshop</string>
					<key>full_name</key>
					<string>大地宽广厂家直销店</string>
					<key>img</key>
					<string>terrace_logo.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topshop</string>
					<key>full_name</key>
					<string>我爱我家个体自营店</string>
					<key>img</key>
					<string>terrace_logo.jpg</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topshop</string>
					<key>full_name</key>
					<string>溪溪个体自营店</string>
					<key>img</key>
					<string>terrace_logo.jpg</string>
				</dict>
			</array>
			<key>key</key>
			<string>goodshop</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>热门分类</string>
			<key>color</key>
			<string>#fd5050</string>
			<key>img</key>
			<string>http://s0.zjlao.com/app_img/hotclassify.png</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>shirt</string>
					<key>classify_name</key>
					<string>衬衫</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify01.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>jean</string>
					<key>classify_name</key>
					<string>牛仔裤</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify02.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>cup</string>
					<key>classify_name</key>
					<string>水杯</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify03.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>paper</string>
					<key>classify_name</key>
					<string>纸抽</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify04.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>bee</string>
					<key>classify_name</key>
					<string>99元限量秒杀</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify01.jpg</string>
					<key>subtitle</key>
					<string>蜜蜂</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>pear</string>
					<key>classify_name</key>
					<string>凤梨酥</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify02.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>ea</string>
					<key>classify_name</key>
					<string>电器</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify03.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>tea</string>
					<key>classify_name</key>
					<string>花茶</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify04.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>notebook</string>
					<key>classify_name</key>
					<string>笔记本</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify01.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>sheet</string>
					<key>classify_name</key>
					<string>床单</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify02.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>watch</string>
					<key>classify_name</key>
					<string>手表</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify03.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>fridge</string>
					<key>classify_name</key>
					<string>冰箱</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/classify04.jpg</string>
					<key>subtitle</key>
					<string>99元限量秒杀</string>
				</dict>
			</array>
			<key>key</key>
			<string>hotclassify</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>品牌精选</string>
			<key>color</key>
			<string>#5081fd</string>
			<key>img</key>
			<string>http://s0.zjlao.com/app_img/brand.png</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>RW±</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>三洋</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>宇达电通</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>奥斯特公司 </string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string> 胖熊宝贝</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>3M</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>超群</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>topbrand</string>
					<key>img</key>
					<string>/brandImg/924/logo/20160224032951864.jpg</string>
					<key>name</key>
					<string>ORL</string>
				</dict>
			</array>
			<key>key</key>
			<string>goodbrand</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>广告图</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>smallbanner</string>
					<key>img</key>
					<string>http://s0.zjlao.com/app_img/27.jpg</string>
				</dict>
			</array>
			<key>key</key>
			<string>singleads</string>
		</dict>
	</array>
	<key>msg</key>
	<string>获取首页成功</string>
	<key>status</key>
	<integer>200</integer>
</dict>
</plist>
