<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>channel</key>
			<string>用户信息</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>info</string>
					<key>img</key>
					<string></string>
					<key>name</key>
					<string>头像</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>goodscollect</string>
					<key>name</key>
					<string>商品收藏</string>
					<key>num</key>
					<string>0</string>
					<key>url</key>
					<string>https://m.zjlao.com/AppOrder/goodsCollection.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>shopcollect</string>
					<key>name</key>
					<string>店铺收藏</string>
					<key>num</key>
					<integer>0</integer>
					<key>url</key>
					<string>https://m.zjlao.com/AppOrder/CollectShop.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>focusbrand</string>
					<key>name</key>
					<string>我的足迹</string>
					<key>url</key>
					<string>https://m.zjlao.com/AppOrder/footprint.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>usergrade</string>
					<key>level</key>
					<string>0</string>
					<key>name</key>
					<string>用户等级</string>
				</dict>
			</array>
			<key>key</key>
			<string>userinfo</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>全部订单</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>pay</string>
					<key>description</key>
					<string>待付款</string>
					<key>number</key>
					<string>0</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/orderlist1.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>ship</string>
					<key>description</key>
					<string>待发货</string>
					<key>number</key>
					<string>0</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/orderlist2.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>receive</string>
					<key>description</key>
					<string>待收货</string>
					<key>number</key>
					<string>0</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/orderlist3.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>comment</string>
					<key>description</key>
					<string>待评价</string>
					<key>number</key>
					<string>0</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/orderlist5.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>over</string>
					<key>description</key>
					<string>退款/售后</string>
					<key>number</key>
					<integer>0</integer>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/orderlist4.html</string>
				</dict>
			</array>
			<key>key</key>
			<string>order</string>
			<key>url</key>
			<string>https://m.zjlao.com/AppOrder/orderlist.html</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>我的资产</string>
			<key>items</key>
			<array>
				<dict>
					<key>actionkey</key>
					<string>balance</string>
					<key>description</key>
					<string>余额</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/balance.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>coupons</string>
					<key>description</key>
					<string>优惠券</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/coupon.html</string>
				</dict>
				<dict>
					<key>actionkey</key>
					<string>coins</string>
					<key>description</key>
					<string>积分</string>
					<key>url</key>
					<string>http://m.zjlao.com/AppOrder/integralMe.html</string>
				</dict>
			</array>
			<key>key</key>
			<string>my_capital</string>
			<key>url</key>
			<string>https://m.zjlao.com/AppOrder/assets.html</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>设置</string>
			<key>key</key>
			<string>set</string>
			<key>url</key>
			<string>https://m.zjlao.com/AppOrder/setUp.html</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>帮助中心</string>
			<key>key</key>
			<string>help</string>
			<key>url</key>
			<string>https://m.zjlao.com/AppOrder/help.html</string>
		</dict>
		<dict>
			<key>channel</key>
			<string>咨询与反馈</string>
			<key>key</key>
			<string>member_club</string>
			<key>url</key>
			<string>https://m.zjlao.com/AppOrder/consultation.html</string>
		</dict>
	</array>
	<key>msg</key>
	<string>获取首页成功</string>
	<key>status</key>
	<integer>200</integer>
</dict>
</plist>
